* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  font-family: 'Montserrat', sans-serif;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: #141e33;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #94a3b8;
  }
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
}
ul {
  margin-bottom: 0 !important;
  li {
    list-style: none;
  }
}
img {
  vertical-align: top;
}
p {
  margin-bottom: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}
