body {
	background-color: #e7f6ff;
	font-family: 'Montserrat', sans-serif;
}
.app {
	width: 1200px;
	margin: 2% auto 0;
	background-color: #fff;
	border-radius: 20px;
	box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04);
}
